html,
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
}

.w3-bar {
  z-index: 4;
}

#mySidebar {
  z-index: 3;
  width: 300px;
}

img .w3-circle {
  width: 46px;
}

#myOverlay {
  cursor: pointer;
}

.w3-main {
  margin-left: 300px;
  margin-top: 43px;
}

.w3-container {
  padding-top: 22px;
}

.w3-row-padding {
  margin: 0 -16px;
}

#region {
  width: 100%;
}

#ww {
  width: 25%;
}
#ww1 {
  width: 50%;
}

#ww2 {
  width: 75%;
}

#avatar2 {
  width: 35px;
}

#avatarm {
  width: 46px;
}

#avatar3 {
  width: 96px;
  height: 96px;
}

#avatar1 {
  width: 96px;
  height: 96px;
}
